
#about
{
    font-size: 18px;
    font-weight: 300;

    width: 70%;
    padding-bottom: 75px;
}

.about-title
{
    font-size: 60px;
    font-weight: 900;

    margin: 75px 0 5px 0;

    color: #7a00ff;
}

#about p
{
    margin-left: 20px;
}

@media (max-width: 500px)
{
    .about-title
    {
        font-size: 35px;
    }

    #about h3
    {
        font-size: 20px;
    }

    #about p
    {
        font-size: 16px;
    }
}
