
#about {
    font-size: 18px;
    font-weight: 300;

    display: flex;
    flex-direction: column;

    min-height: 100vh;

    color: #333;
    background-color: #ffc40d;

    justify-content: center;
}

.about-title {
    font-family: 'Mr Dafoe', cursive;
    font-size: 200px;
    font-weight: 100;

    margin: 0;

    transform: rotate(-20deg);
    text-align: center;
}

.about-text {
    display: flex;
    flex-direction: column;

    text-align: center;
}

.about-name {
    font-family: 'Exo 2', sans-serif;
    font-size: 50px;
    font-weight: 100;

    margin: 5px 10px;
}

.about-name span {
    font-weight: 700;
}

#about p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;

    width: 70%;
    margin: 0 auto;

    text-align: justify;
}

@media(max-width: 750px) {
    .about-title {
        font-size: 175px;
    }

    .about-name {
        font-size: 30px;
    }

    #about p {
        font-size: 25px;
    }
}

@media (max-width: 500px) {
    .about-title {
        font-size: 150px;
    }

    .about-name {
        font-size: 20px;
    }

    #about p {
        font-size: 16px;
    }
}
