
@import url(https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400,500,700|Exo+2:100,400,700,800,900|Mr+Dafoe);

@import './Nav.css';
@import './About.css';
@import './Projects.css';
@import './Skills.css';
@import './Contact.css';


/*
  #FFC40D;
  rgb(255,196,13);
  #333333;
  rgb(51, 51, 51);
  #7A00FF;
  rgb(122,0,255);
  #FF0DBD;
  rgb(255,13,189);
  #0DC9FF;
  rgb(13,201,255);
*/

#app {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.view {
    display: flex;

    justify-content: center;
}

.slide-in {
    transform: translateX(50%);
    transition-timing-function: ease-in;
    transition: 0.5s;
}
