
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,500,700,900);

@import './Nav.css';
@import './About.css';
@import './Projects.css';
@import './Skills.css';
@import './Contact.css';


/*
  #FFC40D
  rgb(255,196,13);
  #0A0401
  rgb(10,4,1)
  #7A00FF
  rgb(122,0,255)
  #FF0DBD
  rgb(255,13,189)
  #0DC9FF
  rgb(13,201,255)
*/

#app
{
    display: flex;
    flex-direction: column;

    align-items: center;
}

.hero
{
    position: relative;

    display: flex;

    width: 100%;
    height: 100vh;

    background: rgba(204, 204, 204, .9)
    url('../../src/assets/mirror_horizontal.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    align-items: center;
    justify-content: center;
}

.hero-logo
{
    height: 350px;
    margin-right: 12px;

    transform: rotate(-20deg);

    background-attachment: fixed;
}

a:link
{
    color: inherit;
}


@media (max-width: 500px)
{
}
