.contact {
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: absolute;
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  height: 250px;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.contact h2 {
  font-weight: 100;
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
}

.contact p {
  color: white;
  font-weight: 300;
  font-size: 20px;
}
