#nav {
    position: fixed;
    z-index: 1;

    display: flex;

    width: 100%;
    height: 75px;

    background-color: #333;

    align-items: center;
}

.nav-logo {
    position: fixed;
    left: 30px;

    height: 50px;
}


.myname {
    font-family: 'Exo 2', sans-serif;
    font-size: 30px;
    font-weight: 100;

    color: #0dc9ff;
    margin: 0 0 0 120px;
}

.myname span {
    font-weight: 700;
}

.nav-links {
    position: absolute;
    display: flex;
    right: 10px;
    bottom: 0;
    font-size: 18px;
}

.nav-link {
    font-family: 'Exo 2', sans-serif;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100px;
    text-align: center;
}

.nav-links li:hover {
    cursor: pointer;

    color: #ff0dbd;
}

.hello-nav {
    background-color:#ffc40d;
}

.projects-nav {
    background-color: #fff;
}

.skills-nav {
    background-color: #0dc9ff;
}

.contact-nav {
    background-color: #7A00FF;
}

.nav-button {
    position: fixed;
    top: 20px;
    right: 30px;

    width: 30px;
    height: 30px;

    cursor: pointer;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (max-width: 850px) {
    .myname {
        font-size: 20px;
    }

    .nav-link {
        font-size: 12px;
        width: 75px;
    }
}

@media (max-width: 650px) {
    .hidden {
        display: none !important;
    }

    #nav {
        display: block;
    }

    .nav-logo {
        display: none;
    }

    .myname {
        font-size: 20px;

        margin: 26px 30px;
    }
    .nav-button {
        display: block;
    }

    .nav-link {
        background-color: unset;
        color: #ffc40d;
        font-size: 18px;
        justify-content: flex-start;

    }

    .nav-links {
        position: fixed;
        top: 75px;
        right: 0;
        bottom: unset;
        flex-direction: column;
        align-content: flex-start;

        width: 90px;
        padding-right: 30px;
        padding-bottom: 15px;

        list-style: none;

        text-align: right;

        color: #ffc40d;
        background-color: #333;
    }
}
