.nav {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  position: fixed;
  height: 75px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav-logo {
  margin: 10px 0 0 10px;
  height: 30px;
  transform: rotate(-20deg);
  position: fixed;
  left: 5px;
  top: 14px;
}


.myname {
  color: #0DC9FF;
  font-weight: 900;
  font-size: 30px;
}

.myname span {
  font-weight: 100;
}

.nav-links {
  color: #FFC40D;
  position: fixed;
  right: 0;
  top: 59px;
  list-style: none;
  flex-direction: column;
  text-align: right;
  width: 115px;
  padding-right: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0 0 0 20px;
  padding-bottom: 15px;
}

.nav-links li{
  margin-bottom: 15px;
}

.nav-links a:visited {
  color:#FFC40D;
}

.nav-links li:hover {
  cursor: pointer;
  color:  #FF0DBD;
}

.nav-button{
  position: fixed;
  top: 20px;
  right: 30px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30px;
  width: 30px;
}
