#projects {
    width: 70%;
    padding-bottom: 75px;

    color: #333;
}

.projects-title {
    background-image: url('../../src/assets/projects-title.svg');
}

.project {
    display: flex;

    margin: 10px 0;

    border-radius: 0 30px 0 0;

    flex-basis: 49%;
}

.project-title {
    font-size: 25px;
    font-weight: 700;

    height: 40px;
    margin: 5px 0;

    color: #0dc9ff;
    border-radius: 0 30px 0 0;
}

.project section {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
}

.project-img {
    width: 250px;
    height: 250px;
    margin: 10px 20px;

    cursor: pointer;

    border: 1px solid gray;
    border: 2px ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;;
}

.project-img:hover {
    opacity: .5;
}

.jetfuel-img {
    background-image: url('../../src/assets/projects/jetfuel.png');
}

.movingshadows-img {
    background-image: url('../../src/assets/projects/movingshadows.png');
}

.wbwr-img {
    background-image: url('../../src/assets/projects/wbwr.png');
}

.project-desctiption {
    padding-right: 20px;
}

.project-links a {
    margin: 0 10px 0 0;
}


@media (max-width: 1000px) {
    .project {
        flex-direction: column;
    }

    .project-img {
        position: relative;

        width: 100%;
        margin: 15px auto;

        background-position: top;
    }

    .project section {
        margin: 10px;
    }

    .project-description {
        width: 90%;
    }
}

@media (max-width: 750px) {
    .projects-title {
        height: 200px;
    }

    .project-description {
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .projects-title {
        height: 150px;
    }
}