#projects {
    display: flex;
    flex-direction: column;

    width: 70%;
    padding-bottom: 75px;

    color: #333;
}

.projects-title {
    font-family: 'Mr Dafoe', cursive;
    font-size: 200px;
    font-weight: 100;

    margin: 0 0 20px;
    margin-top: 100px;

    transform: rotate(-20deg);
    text-align: center;
}

.project {
    display: flex;

    margin: 10px 0;

    border-radius: 0 30px 0 0;

    flex-basis: 49%;
}

.project-title {
    font-size: 25px;
    font-weight: 700;

    margin: 5px 0;

    color: #0dc9ff;
    border-radius: 0 30px 0 0;
}

.project section {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
}

.project-img {
    width: 250px;
    height: 250px;
    margin: 10px 20px;

    cursor: pointer;

    border: 1px solid gray;
    border: 2px ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;;
}

.project-img:hover {
    opacity: .5;
}

.project-desctiption {
    font-family: 'Cormorant Garamond', serif;

    padding-right: 20px;
}

.project-links a {
    margin: 0 10px 0 0;
}


@media (max-width: 1000px) {
    .project {
        flex-direction: column;
    }

    .project-img {
        position: relative;

        width: 100%;
        margin: 15px auto;

        background-position: top;
    }

    .project section {
        margin: 10px;
    }

    .project-description {
        width: 90%;
    }
}

@media (max-width: 750px) {
    .projects-title {
        font-size: 150px;
    }

    .project-description {
        font-size: 16px;
    }
}

@media (max-width: 550px) {
    .projects-title {
        font-size: 90px;
    }
}
