#skills
{
    display: flex;

    width: 100vw;
    padding: 10px 0 75px;

    background-color: rgba(13,201,255, .7);

    justify-content: center;
}

.skills-container
{
    width: 70%;
}

.skills-title
{
    font-size: 60px;
    font-weight: 900;

    margin: 75px 0 5px 0;

    color: #ff0dbd;
}

.skills h3
{
    margin: 10px 0;
}

.listed-skills
{
    display: flex;

    justify-content: space-around;
}

ul
{
    margin: 0;
    padding: 0;
}

li
{
    list-style: none;
}

@media (max-width: 600px)
{
    .listed-skills
    {
        display: flex;
        flex-direction: column;
    }

    ul
    {
        padding: 5px 20px;
    }
}


@media (max-width: 500px)
{
    .skills-title
    {
        font-size: 35px;
    }

    .skills h3
    {
        font-size: 20px;
    }
}
