#skills {
    display: flex;

    width: 100vw;
    height: 100vh;
    margin-top: 75px;
    padding: 10px 0 75px;

    color: #333;
    background-color: #0dc9ff;

    justify-content: center;
}

.skills-container {
    width: 70%;
}

.skills-title {
    font-family: 'Mr Dafoe', cursive;
    font-size: 200px;
    font-weight: 100;

    margin: 0 0 20px;

    transform: rotate(-20deg);
    text-align: center;
}

.skills h3 {
    font-family: 'Exo 2', sans-serif;
    font-size: 30px;

    margin: 10px 0;
}

.listed-skills {
    display: flex;

    justify-content: space-between;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    font-family: 'Cormorant Garamond', serif;

    margin-left: 10px;

    list-style: none;
}

@media (max-width: 750px) {
    .skills-title {
        font-size: 150px;
    }

    .listed-skills {
        display: flex;
        flex-direction: column;
    }
}


@media (max-width: 500px) {
    .skills-title {
        font-size: 100px;
    }

    .skills h3 {
        font-size: 20px;
    }
}
