#skills
{
    display: flex;

    width: 100vw;
    height: 100vh;
    padding: 10px 0 75px;

    background-color: rgba(13,201,255, .7);

    justify-content: center;
    align-items: center;

    color: #333333;
}

.skills-container
{
    width: 70%;
}

.skills-title
{

    font-family: 'Mr Dafoe', cursive;
    font-size: 200px;
    font-weight: 500;

    margin: 0 0 70px 0;

    
    transform: rotate(-20deg);
}

.skills h3
{
    font-family: 'Exo 2', sans-serif;
    font-size: 30px;
    margin: 10px 0;
}

.listed-skills
{
    display: flex;

    justify-content: space-between;
}

ul
{
    margin: 0;
    padding: 0;
}

li
{
    list-style: none;
    margin-left:10px;
    font-family: 'Cormorant Garamond', serif;
}

@media (max-width: 750px)
{

    #skills {
        height: unset;
    }

    .skills-title
    {
        font-size: 150px;
        margin-top: 75px;
    }

    .listed-skills
    {
        display: flex;
        flex-direction: column;

    }
}


@media (max-width: 500px)
{
    .skills-title
    {
        font-size: 100px;
        margin-bottom: 30px;
    }

    .skills h3
    {
        font-size: 20px;
    }
}
